<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>GenesisTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6fa7ad">  <td>22/08/17 16:33:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DigitalKeyTest.beforeClass()[pri:0, instance:com.spa.genesis.tests.DigitalKeyTest@2357d90a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>TestNG@1830839772</td>   <td></td> </tr>
<tr bgcolor="6fa7ad">  <td>22/08/17 16:35:28</td>   <td>113253</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DigitalKeyTest.tearDown()[pri:0, instance:com.spa.genesis.tests.DigitalKeyTest@2357d90a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1830839772</td>   <td></td> </tr>
<tr bgcolor="6fa7ad">  <td>22/08/17 16:34:05</td>   <td>30698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DigitalKeyTest.testDigitalKeyPageFromDashboard(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.spa.genesis.tests.DigitalKeyTest@2357d90a]">testDigitalKeyPageFromDashboard</td> 
  <td>TestNG@1830839772</td>   <td></td> </tr>
</table>
