<html>
<head>
<title>TestNG:  Test(failed)</title>
<link href="../testng.css" rel="stylesheet" type="text/css" />
<link href="../my-testng.css" rel="stylesheet" type="text/css" />

<style type="text/css">
.log { display: none;} 
.stack-trace { display: none;} 
</style>
<script type="text/javascript">
<!--
function flip(e) {
  current = e.style.display;
  if (current == 'block') {
    e.style.display = 'none';
    return 0;
  }
  else {
    e.style.display = 'block';
    return 1;
  }
}

function toggleBox(szDivId, elem, msg1, msg2)
{
  var res = -1;  if (document.getElementById) {
    res = flip(document.getElementById(szDivId));
  }
  else if (document.all) {
    // this is the way old msie versions work
    res = flip(document.all[szDivId]);
  }
  if(elem) {
    if(res == 0) elem.innerHTML = msg1; else elem.innerHTML = msg2;
  }

}

function toggleAllBoxes() {
  if (document.getElementsByTagName) {
    d = document.getElementsByTagName('div');
    for (i = 0; i < d.length; i++) {
      if (d[i].className == 'log') {
        flip(d[i]);
      }
    }
  }
}

// -->
</script>

</head>
<body>
<h2 align='center'>Test(failed)</h2><table border='1' align="center">
<tr>
<td>Tests passed/Failed/Skipped:</td><td>2/1/0</td>
</tr><tr>
<td>Started on:</td><td>Tue Aug 09 18:47:23 IST 2022</td>
</tr>
<tr><td>Total time:</td><td>476 seconds (476633 ms)</td>
</tr><tr>
<td>Included groups:</td><td></td>
</tr><tr>
<td>Excluded groups:</td><td></td>
</tr>
</table><p/>
<small><i>(Hover the method name to see the test class name)</i></small><p/>
<table width='100%' border='1' class='invocation-failed'>
<tr><td colspan='4' align='center'><b>FAILED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.spa.genesis.tests.DashboardTestOne.testTutorialPage()'><b>testTutorialPage</b><br>Test class: com.spa.genesis.tests.DashboardTestOne<br>Test method: Verify tutorial page  <br>Parameters: G2, Y, jx.525@gma.com, test1234, 1234.0, KMUHCESC0LU000525, Primary</td>
<td><div><pre>org.openqa.selenium.StaleElementReferenceException: The previously found element &quot;&quot;Go To Settings&quot; StaticText&quot; is not present in the current view anymore. Make sure the application UI has the expected state. Original error: No matches found for Elements matching predicate &apos;wdName == &quot;Go To Settings&quot; AND (1 == 1 OR identifier == 0 OR frame == 0 OR value == 0 OR title == 0 OR label == 0 OR elementType == 0 OR enabled == 0 OR placeholderValue == 0 OR selected == 0)&apos; from input {(
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Image, {{119.2, 337.7}, {136.6, 136.6}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Alert, {{52.7, 309.0}, {270.0, 204.3}}, label: &apos;Enable Intelligent Alerts&apos;,
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 812.0}, {375.0, 233.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    ScrollView, {{52.7, 309.0}, {270.0, 160.0}},
    Other, {{52.7, 469.0}, {270.0, 0.3}},
    ScrollView, {{52.7, 469.3}, {270.0, 44.0}},
    Other, {{0.0, 44.0}, {375.0, 44.0}},
    Other, {{0.0, 88.0}, {375.0, 724.0}},
    Table, {{0.0, 96.0}, {375.0, 674.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{52.7, 309.0}, {270.0, 160.0}},
    Other, {{289.7, 309.0}, {30.0, 160.0}}, label: &apos;Vertical scroll bar, 1 page&apos;, value: 0%,
    Other, {{52.7, 436.0}, {270.0, 30.0}}, label: &apos;Horizontal scroll bar, 1 page&apos;, value: 0%,
    Other, {{52.7, 469.0}, {270.0, 0.3}},
    Other, {{52.7, 469.3}, {270.0, 44.0}},
    Other, {{289.7, 469.3}, {30.0, 44.0}}, label: &apos;Vertical scroll bar, 1 page&apos;, value: 0%,
    Other, {{52.7, 488.3}, {270.0, 22.0}}, label: &apos;Horizontal scroll bar, 1 page&apos;, value: 0%,
    Image, {{0.0, -10.0}, {375.0, 98.0}}, identifier: &apos;topnav&apos;,
    Button, {{7.0, 51.0}, {30.0, 30.0}}, label: &apos;arrow back&apos;,
    StaticText, {{67.7, 46.0}, {240.0, 40.0}}, label: &apos;SETTINGS&apos;,
    Other, {{0.0, 96.0}, {375.0, 0.0}},
    Cell, {{0.0, 96.0}, {375.0, 920.0}},
    Other, {{0.0, 770.0}, {375.0, 0.0}},
    StaticText, {{68.7, 328.7}, {238.0, 20.3}}, label: &apos;Enable Intelligent Alerts&apos;,
    StaticText, {{68.7, 352.7}, {238.0, 95.7}}, label: &apos;We need to access your calendar and your location to create customized Intelligent Alerts for you.

Accept the Location and Calendar pop-ups to enable Intelligent Alerts.&apos;,
    Other, {{52.7, 469.0}, {270.0, 0.3}},
    Other, {{52.7, 469.3}, {270.0, 44.0}},
    Button, {{1.0, 353.0}, {374.0, 48.0}},
    Button, {{0.0, 401.0}, {374.0, 48.0}},
    Button, {{0.0, 449.0}, {375.0, 48.0}},
    Button, {{0.0, 497.0}, {375.0, 48.0}},
    Button, {{134.3, 772.0}, {16.0, 22.0}}, label: &apos;remote lockstart icon&apos;,
    Switch, {{315.0, 761.0}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 1,
    Switch, {{315.0, 166.7}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 0,
    Button, {{25.0, 219.0}, {24.0, 24.0}}, label: &apos;checkbox unselected&apos;,
    Button, {{25.0, 268.0}, {24.0, 24.0}}, label: &apos;checkbox unselected&apos;,
    StaticText, {{24.0, 120.0}, {256.0, 21.0}}, label: &apos;SECURITY AND PRIVACY&apos;,
    StaticText, {{24.0, 578.0}, {256.0, 21.0}}, label: &apos;QUICK START&apos;,
    StaticText, {{25.0, 634.0}, {267.0, 24.0}}, label: &apos;Enable Quick Start&apos;,
    StaticText, {{25.0, 666.0}, {284.0, 70.0}}, label: &apos;Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command.&apos;,
    StaticText, {{24.0, 895.0}, {256.0, 21.0}}, label: &apos;NOTIFICATIONS&apos;,
    StaticText, {{24.0, 949.0}, {171.0, 15.0}}, label: &apos;Current Device&apos;,
    StaticText, {{24.0, 981.0}, {222.0, 16.0}}, label: &apos;iPhone&apos;,
    StaticText, {{24.0, 997.0}, {222.0, 15.0}}, label: &apos;Receive push notifications for this device&apos;,
    StaticText, {{25.0, 314.0}, {252.0, 30.0}}, label: &apos;Change PIN&apos;,
    StaticText, {{25.0, 362.0}, {252.0, 30.0}}, label: &apos;Change Password&apos;,
    StaticText, {{24.0, 410.0}, {252.0, 30.0}}, label: &apos;My Data and Policy&apos;,
    StaticText, {{25.0, 458.0}, {252.0, 30.0}}, label: &apos;Update Security Question&apos;,
    StaticText, {{25.0, 506.0}, {342.0, 30.0}}, label: &apos;Cancel my Connected Services subscription&apos;,
    StaticText, {{25.0, 771.0}, {101.3, 24.0}}, label: &apos;Lock and Start&apos;,
    StaticText, {{25.0, 803.0}, {272.0, 43.0}}, label: &apos;Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process.&apos;,
    StaticText, {{25.0, 167.0}, {252.0, 30.0}}, label: &apos;Enable Face ID&apos;,
    StaticText, {{59.0, 216.0}, {252.0, 30.0}}, label: &apos;Use for PIN&apos;,
    StaticText, {{59.0, 265.0}, {252.0, 30.0}}, label: &apos;Use for Login&apos;,
    Button, {{0.0, 305.0}, {375.0, 48.0}},
    Other, {{0.0, 96.0}, {375.0, 1.0}},
    Other, {{8.0, 1043.0}, {365.0, 1.0}},
    Switch, {{316.0, 633.0}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 0,
    Switch, {{316.0, 957.0}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 1,
    Other, {{52.7, 469.3}, {270.0, 44.0}},
    StaticText, {{1.0, 353.0}, {0.0, 0.0}},
    StaticText, {{0.0, 401.0}, {0.0, 0.0}},
    StaticText, {{0.0, 449.0}, {0.0, 0.0}},
    StaticText, {{0.0, 497.0}, {0.0, 0.0}},
    StaticText, {{0.0, 305.0}, {0.0, 0.0}},
    Button, {{52.7, 469.3}, {270.0, 44.0}}, label: &apos;OK&apos;
)} (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
For documentation on this error, please visit: http://seleniumhq.org/exceptions/stale_element_reference.html
Build info: version: &apos;3.12.0&apos;, revision: &apos;7c6e0b3&apos;, time: &apos;2018-05-08T14:04:26.12Z&apos;
System info: host: &apos;MBP-108720.local&apos;, ip: &apos;2401:4900:1f3d:f534:8cf0:cfe5:ec08:d01e%en0&apos;, os.name: &apos;Mac OS X&apos;, os.arch: &apos;x86_64&apos;, os.version: &apos;10.16&apos;, java.version: &apos;1.8.0_311&apos;
Driver info: io.appium.java_client.ios.IOSDriver
Capabilities {app: /Users/anudeep/Downloads/Ge..., appPushTimeout: 90000, automationName: XCUITEST, browserName: , bundleId: com.hyundaiusa.genesis, clearSystemFiles: true, databaseEnabled: false, deviceName: Test User, javascriptEnabled: true, locationContextEnabled: false, networkConnectionEnabled: false, newCommandTimeout: 90000, noReset: false, platform: MAC, platformName: iOS, platformVersion: 15.6, showIOSLog: false, takesScreenshot: true, udid: 515e606698ee8befa6ef5a077c1..., webStorageEnabled: false}
Session ID: 31d61299-d200-4b0a-a73b-1e97c5da71c1
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at io.appium.java_client.remote.AppiumCommandExecutor.execute(AppiumCommandExecutor.java:231)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at io.appium.java_client.DefaultGenericMobileDriver.execute(DefaultGenericMobileDriver.java:42)
	at io.appium.java_client.AppiumDriver.execute(AppiumDriver.java:1)
	at io.appium.java_client.ios.IOSDriver.execute(IOSDriver.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:276)
	at io.appium.java_client.DefaultGenericMobileElement.execute(DefaultGenericMobileElement.java:45)
	at io.appium.java_client.MobileElement.execute(MobileElement.java:1)
	at io.appium.java_client.ios.IOSElement.execute(IOSElement.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:83)
	at com.spa.genesis.pageObjects.DashboardPage_GIA.clickGoToSettingBtn(DashboardPage_GIA.java:269)
	at com.spa.genesis.tests.DashboardTestOne.testTutorialPage(DashboardTestOne.java:172)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
... Removed 20 stack frames</pre></div><a href='#' onClick='toggleBox("stack-trace1763113171", this, "Click to show all stack frames", "Click to hide stack frames")'>Click to show all stack frames</a>
<div class='stack-trace' id='stack-trace1763113171'><pre>org.openqa.selenium.StaleElementReferenceException: The previously found element &quot;&quot;Go To Settings&quot; StaticText&quot; is not present in the current view anymore. Make sure the application UI has the expected state. Original error: No matches found for Elements matching predicate &apos;wdName == &quot;Go To Settings&quot; AND (1 == 1 OR identifier == 0 OR frame == 0 OR value == 0 OR title == 0 OR label == 0 OR elementType == 0 OR enabled == 0 OR placeholderValue == 0 OR selected == 0)&apos; from input {(
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Window, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Image, {{119.2, 337.7}, {136.6, 136.6}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Alert, {{52.7, 309.0}, {270.0, 204.3}}, label: &apos;Enable Intelligent Alerts&apos;,
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{0.0, 812.0}, {375.0, 233.0}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{0.0, 0.0}, {375.0, 812.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    ScrollView, {{52.7, 309.0}, {270.0, 160.0}},
    Other, {{52.7, 469.0}, {270.0, 0.3}},
    ScrollView, {{52.7, 469.3}, {270.0, 44.0}},
    Other, {{0.0, 44.0}, {375.0, 44.0}},
    Other, {{0.0, 88.0}, {375.0, 724.0}},
    Table, {{0.0, 96.0}, {375.0, 674.0}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{52.7, 309.0}, {270.0, 204.3}},
    Other, {{52.7, 309.0}, {270.0, 160.0}},
    Other, {{289.7, 309.0}, {30.0, 160.0}}, label: &apos;Vertical scroll bar, 1 page&apos;, value: 0%,
    Other, {{52.7, 436.0}, {270.0, 30.0}}, label: &apos;Horizontal scroll bar, 1 page&apos;, value: 0%,
    Other, {{52.7, 469.0}, {270.0, 0.3}},
    Other, {{52.7, 469.3}, {270.0, 44.0}},
    Other, {{289.7, 469.3}, {30.0, 44.0}}, label: &apos;Vertical scroll bar, 1 page&apos;, value: 0%,
    Other, {{52.7, 488.3}, {270.0, 22.0}}, label: &apos;Horizontal scroll bar, 1 page&apos;, value: 0%,
    Image, {{0.0, -10.0}, {375.0, 98.0}}, identifier: &apos;topnav&apos;,
    Button, {{7.0, 51.0}, {30.0, 30.0}}, label: &apos;arrow back&apos;,
    StaticText, {{67.7, 46.0}, {240.0, 40.0}}, label: &apos;SETTINGS&apos;,
    Other, {{0.0, 96.0}, {375.0, 0.0}},
    Cell, {{0.0, 96.0}, {375.0, 920.0}},
    Other, {{0.0, 770.0}, {375.0, 0.0}},
    StaticText, {{68.7, 328.7}, {238.0, 20.3}}, label: &apos;Enable Intelligent Alerts&apos;,
    StaticText, {{68.7, 352.7}, {238.0, 95.7}}, label: &apos;We need to access your calendar and your location to create customized Intelligent Alerts for you.

Accept the Location and Calendar pop-ups to enable Intelligent Alerts.&apos;,
    Other, {{52.7, 469.0}, {270.0, 0.3}},
    Other, {{52.7, 469.3}, {270.0, 44.0}},
    Button, {{1.0, 353.0}, {374.0, 48.0}},
    Button, {{0.0, 401.0}, {374.0, 48.0}},
    Button, {{0.0, 449.0}, {375.0, 48.0}},
    Button, {{0.0, 497.0}, {375.0, 48.0}},
    Button, {{134.3, 772.0}, {16.0, 22.0}}, label: &apos;remote lockstart icon&apos;,
    Switch, {{315.0, 761.0}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 1,
    Switch, {{315.0, 166.7}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 0,
    Button, {{25.0, 219.0}, {24.0, 24.0}}, label: &apos;checkbox unselected&apos;,
    Button, {{25.0, 268.0}, {24.0, 24.0}}, label: &apos;checkbox unselected&apos;,
    StaticText, {{24.0, 120.0}, {256.0, 21.0}}, label: &apos;SECURITY AND PRIVACY&apos;,
    StaticText, {{24.0, 578.0}, {256.0, 21.0}}, label: &apos;QUICK START&apos;,
    StaticText, {{25.0, 634.0}, {267.0, 24.0}}, label: &apos;Enable Quick Start&apos;,
    StaticText, {{25.0, 666.0}, {284.0, 70.0}}, label: &apos;Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command.&apos;,
    StaticText, {{24.0, 895.0}, {256.0, 21.0}}, label: &apos;NOTIFICATIONS&apos;,
    StaticText, {{24.0, 949.0}, {171.0, 15.0}}, label: &apos;Current Device&apos;,
    StaticText, {{24.0, 981.0}, {222.0, 16.0}}, label: &apos;iPhone&apos;,
    StaticText, {{24.0, 997.0}, {222.0, 15.0}}, label: &apos;Receive push notifications for this device&apos;,
    StaticText, {{25.0, 314.0}, {252.0, 30.0}}, label: &apos;Change PIN&apos;,
    StaticText, {{25.0, 362.0}, {252.0, 30.0}}, label: &apos;Change Password&apos;,
    StaticText, {{24.0, 410.0}, {252.0, 30.0}}, label: &apos;My Data and Policy&apos;,
    StaticText, {{25.0, 458.0}, {252.0, 30.0}}, label: &apos;Update Security Question&apos;,
    StaticText, {{25.0, 506.0}, {342.0, 30.0}}, label: &apos;Cancel my Connected Services subscription&apos;,
    StaticText, {{25.0, 771.0}, {101.3, 24.0}}, label: &apos;Lock and Start&apos;,
    StaticText, {{25.0, 803.0}, {272.0, 43.0}}, label: &apos;Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process.&apos;,
    StaticText, {{25.0, 167.0}, {252.0, 30.0}}, label: &apos;Enable Face ID&apos;,
    StaticText, {{59.0, 216.0}, {252.0, 30.0}}, label: &apos;Use for PIN&apos;,
    StaticText, {{59.0, 265.0}, {252.0, 30.0}}, label: &apos;Use for Login&apos;,
    Button, {{0.0, 305.0}, {375.0, 48.0}},
    Other, {{0.0, 96.0}, {375.0, 1.0}},
    Other, {{8.0, 1043.0}, {365.0, 1.0}},
    Switch, {{316.0, 633.0}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 0,
    Switch, {{316.0, 957.0}, {51.0, 31.0}}, label: &apos;SECURITY AND PRIVACY, Enable Face ID, Change PIN, Change Password, My Data and Policy, Update Security Question, Cancel my Connected Services subscription, QUICK START, Enable Quick Start, Quick Start changes the behavior of the home screen Remote Start button to save you time. Tapping Start will send the command with your last-used settings. Long-press to adjust the settings before sending the command., Lock and Start, Locked car doors are required for  Remote Start. By activating this feature, car doors will automatically lock during the Remote Start process., NOTIFICATIONS, Current Device, iPhone, Receive push notifications for this device, Use for PIN, Use for Login&apos;, value: 1,
    Other, {{52.7, 469.3}, {270.0, 44.0}},
    StaticText, {{1.0, 353.0}, {0.0, 0.0}},
    StaticText, {{0.0, 401.0}, {0.0, 0.0}},
    StaticText, {{0.0, 449.0}, {0.0, 0.0}},
    StaticText, {{0.0, 497.0}, {0.0, 0.0}},
    StaticText, {{0.0, 305.0}, {0.0, 0.0}},
    Button, {{52.7, 469.3}, {270.0, 44.0}}, label: &apos;OK&apos;
)} (WARNING: The server did not provide any stacktrace information)
Command duration or timeout: 0 milliseconds
For documentation on this error, please visit: http://seleniumhq.org/exceptions/stale_element_reference.html
Build info: version: &apos;3.12.0&apos;, revision: &apos;7c6e0b3&apos;, time: &apos;2018-05-08T14:04:26.12Z&apos;
System info: host: &apos;MBP-108720.local&apos;, ip: &apos;2401:4900:1f3d:f534:8cf0:cfe5:ec08:d01e%en0&apos;, os.name: &apos;Mac OS X&apos;, os.arch: &apos;x86_64&apos;, os.version: &apos;10.16&apos;, java.version: &apos;1.8.0_311&apos;
Driver info: io.appium.java_client.ios.IOSDriver
Capabilities {app: /Users/anudeep/Downloads/Ge..., appPushTimeout: 90000, automationName: XCUITEST, browserName: , bundleId: com.hyundaiusa.genesis, clearSystemFiles: true, databaseEnabled: false, deviceName: Test User, javascriptEnabled: true, locationContextEnabled: false, networkConnectionEnabled: false, newCommandTimeout: 90000, noReset: false, platform: MAC, platformName: iOS, platformVersion: 15.6, showIOSLog: false, takesScreenshot: true, udid: 515e606698ee8befa6ef5a077c1..., webStorageEnabled: false}
Session ID: 31d61299-d200-4b0a-a73b-1e97c5da71c1
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at org.openqa.selenium.remote.ErrorHandler.createThrowable(ErrorHandler.java:214)
	at org.openqa.selenium.remote.ErrorHandler.throwIfResponseFailed(ErrorHandler.java:166)
	at org.openqa.selenium.remote.http.JsonHttpResponseCodec.reconstructValue(JsonHttpResponseCodec.java:40)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:80)
	at org.openqa.selenium.remote.http.AbstractHttpResponseCodec.decode(AbstractHttpResponseCodec.java:44)
	at org.openqa.selenium.remote.HttpCommandExecutor.execute(HttpCommandExecutor.java:158)
	at io.appium.java_client.remote.AppiumCommandExecutor.execute(AppiumCommandExecutor.java:231)
	at org.openqa.selenium.remote.RemoteWebDriver.execute(RemoteWebDriver.java:543)
	at io.appium.java_client.DefaultGenericMobileDriver.execute(DefaultGenericMobileDriver.java:42)
	at io.appium.java_client.AppiumDriver.execute(AppiumDriver.java:1)
	at io.appium.java_client.ios.IOSDriver.execute(IOSDriver.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.execute(RemoteWebElement.java:276)
	at io.appium.java_client.DefaultGenericMobileElement.execute(DefaultGenericMobileElement.java:45)
	at io.appium.java_client.MobileElement.execute(MobileElement.java:1)
	at io.appium.java_client.ios.IOSElement.execute(IOSElement.java:1)
	at org.openqa.selenium.remote.RemoteWebElement.click(RemoteWebElement.java:83)
	at com.spa.genesis.pageObjects.DashboardPage_GIA.clickGoToSettingBtn(DashboardPage_GIA.java:269)
	at com.spa.genesis.tests.DashboardTestOne.testTutorialPage(DashboardTestOne.java:172)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.testng.internal.MethodInvocationHelper.invokeMethod(MethodInvocationHelper.java:104)
	at org.testng.internal.Invoker.invokeMethod(Invoker.java:645)
	at org.testng.internal.Invoker.invokeTestMethod(Invoker.java:851)
	at org.testng.internal.Invoker.invokeTestMethods(Invoker.java:1177)
	at org.testng.internal.TestMethodWorker.invokeTestMethods(TestMethodWorker.java:129)
	at org.testng.internal.TestMethodWorker.run(TestMethodWorker.java:112)
	at org.testng.TestRunner.privateRun(TestRunner.java:756)
	at org.testng.TestRunner.run(TestRunner.java:610)
	at org.testng.SuiteRunner.runTest(SuiteRunner.java:387)
	at org.testng.SuiteRunner.access$000(SuiteRunner.java:39)
	at org.testng.SuiteRunner$SuiteWorker.run(SuiteRunner.java:421)
	at org.testng.internal.thread.ThreadUtil$2.call(ThreadUtil.java:64)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
</pre></div></td>
<td>64</td>
<td>com.spa.genesis.tests.DashboardTestOne@564718df</td></tr>
</table><p>
<table width='100%' border='1' class='invocation-passed'>
<tr><td colspan='4' align='center'><b>PASSED TESTS</b></td></tr>
<tr><td><b>Test method</b></td>
<td width="30%"><b>Exception</b></td>
<td width="10%"><b>Time (seconds)</b></td>
<td><b>Instance</b></td>
</tr>
<tr>
<td title='com.spa.genesis.tests.DashboardTestOne.testNavigateToRemoteStartPage()'><b>testNavigateToRemoteStartPage</b><br>Test class: com.spa.genesis.tests.DashboardTestOne<br>Test method: Verify navigate to remote start and remote stop<br>Parameters: G2, Y, jx.525@gma.com, test1234, 1234.0, KMUHCESC0LU000525, Primary</td>
<td></td>
<td>189</td>
<td>com.spa.genesis.tests.DashboardTestOne@564718df</td></tr>
<tr>
<td title='com.spa.genesis.tests.DashboardTestOne.testUnLockButton()'><b>testUnLockButton</b><br>Test class: com.spa.genesis.tests.DashboardTestOne<br>Test method: Verify remote unlock button <br>Parameters: G2, Y, jx.525@gma.com, test1234, 1234.0, KMUHCESC0LU000525, Primary</td>
<td></td>
<td>122</td>
<td>com.spa.genesis.tests.DashboardTestOne@564718df</td></tr>
</table><p>
</body>
</html>