<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.spa.genesis.tests.DashboardTestOne</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testLockLongPress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testTutorialPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testNavigateToRemoteStartPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSearchDashboardPOI</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testUnLockButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testQuickStart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testUnlockLongPress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLockButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAddEvent</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testByDefaultQuickStartToggle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testQuickStartLongPress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testElementsPresentOnDashboard</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
