<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [GenesisTestSuite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:47:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashboardTestOne.beforeClass()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:51:06</td>   <td>222889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashboardTestOne.beforeClass()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:52:44</td>   <td>320884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashboardTestOne.beforeClass()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:51:05</td>   <td>221785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashboardTestOne.tearDown()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:52:43</td>   <td>319808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashboardTestOne.tearDown()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:55:19</td>   <td>475221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashboardTestOne.tearDown()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:47:56</td>   <td>32314</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTestOne.testNavigateToRemoteStartPage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">testNavigateToRemoteStartPage</td> 
  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:51:38</td>   <td>254702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTestOne.testTutorialPage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">testTutorialPage</td> 
  <td>TestNG@1484007162</td>   <td></td> </tr>
<tr bgcolor="9e76fd">  <td>22/08/09 18:53:16</td>   <td>352307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTestOne.testUnLockButton(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@564718df]">testUnLockButton</td> 
  <td>TestNG@1484007162</td>   <td></td> </tr>
</table>
