<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60af79">  <td>22/08/09 19:15:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashboardTestOne.beforeClass()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@18eed359]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>22/08/09 19:18:31</td>   <td>164620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DashboardTestOne.tearDown()[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@18eed359]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1955915048</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>22/08/09 19:16:19</td>   <td>32036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTestOne.testTutorialPage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.spa.genesis.tests.DashboardTestOne@18eed359]">testTutorialPage</td> 
  <td>main@1955915048</td>   <td></td> </tr>
</table>
