<h2>Methods that were not run</h2><table>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testSearchDashboardPOI<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Search POI by passing zipcode as Search Parameter</i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testByDefaultQuickStartToggle<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify long press the remote start by toggle on the quick start</i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testNavigateToRemoteStartPage<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify navigate to remote start and remote stop</i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testQuickStartLongPress<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify long press the remote start by toggle on the quick start</i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testLockLongPress<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify long press the remote lock by toggle on the quick start</i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testQuickStart<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify quick remote start by toggle on the quick start  </i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testUnLockButton<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify remote unlock button </i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testLockButton<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify lock button </i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testElementsPresentOnDashboard<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify the elements present in dashboard</i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testUnlockLongPress<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify long press the remote unlock by toggle on the quick start</i></td></tr>
<tr><td>com.spa.genesis.tests.DashboardTestOne.testAddEvent<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify add event </i></td></tr>
</table>