<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9a694">  <td>21/01/12 15:35:59</td>   <td>0</td> <td title="&gt;&gt;scheduleServiceUIGIATest.beforeClass()[pri:0, instance:com.spa.scheduleServiceUI.test.scheduleServiceUIGIATest@290222c1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1101048445</td>   <td>313239742 688005825 </td> </tr>
<tr bgcolor="d9a694">  <td>21/01/12 15:36:03</td>   <td>3481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scheduleServiceUIGIATest.testSearchDealerPOI()[pri:0, instance:com.spa.scheduleServiceUI.test.scheduleServiceUIGIATest@12aba8be]">testSearchDealerPOI</td> 
  <td>main@1101048445</td>   <td>313239742 688005825 </td> </tr>
<tr bgcolor="d9a694">  <td>21/01/12 15:36:03</td>   <td>3488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="scheduleServiceUIGIATest.testSearchDealerPOI()[pri:0, instance:com.spa.scheduleServiceUI.test.scheduleServiceUIGIATest@290222c1]">testSearchDealerPOI</td> 
  <td>main@1101048445</td>   <td>313239742 688005825 </td> </tr>
</table>
